<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.fcircle.studentmgrwebservices.mapper.StudentMapper">

    <resultMap id="Base_Result_Map" type="biz.fcircle.studentmgrwebservices.model.Student">
        <id column="student_id" property="studentId" jdbcType="INTEGER"/>
        <result column="student_name" property="studentName" jdbcType="VARCHAR"/>
        <result column="gender_cd" property="genderCd" jdbcType="VARCHAR"/>
        <result column="pref_id" property="prefId" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <collection property="receiveSubjectList" ofType="biz.fcircle.studentmgrwebservices.model.ReceiveSubject">
            <id column="student_id" property="studentId" jdbcType="INTEGER"/>
            <id column="subject_cd" property="subjectCd" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findByCondition" resultMap="Base_Result_Map" parameterType="biz.fcircle.studentmgrwebservices.model.StudentC">
            select * 
              from m_student s
         left join m_receive_subject r on s.student_id = r.student_id

        <where>
            <if test="studentName != null and studentName != ''">
                and student_name like '%' || #{studentName} || '%'
            </if>
            <if test="prefId != null and prefId != ''">
                and pref_id = #{prefId}
            </if>
        </where>

           order by s.student_id
    </select>    
</mapper>